# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/

# Environment variables
.env

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Project uploads
uploads/
!uploads/.gitkeep

# Database
*.db
*.sqlite
*.sqlite3

# Node & Build
node_modules/
frontend/dist/

# IDEs
.vscode/
.idea/
*.swp
